doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Project TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2.bullet TKPPL Project
        ul
          li <i>websocket</i> sederhana
          li Dengan <i>express</i> dan <i>socket.io</i>  

      section
        h3.bullet Hal pertama yang dilakukan   
        ul
          li Membuat presentasi menggunakan <i>bespoke.js</i>
          li ? 
          li bagaimana caranya ? 
 
      
      section
        h3.bullet Membuat presentasi <i>bespoke.js</i>
        ul
          li install node.js (jika dengan windows, cukup search digoogle node.js. download lalu install)
          li Tentukan folder yang akan dijadikan tempat installasi generator bespoke.js
          li gunakan command prompt untuk installasi, pastikan folder tempat installasi
          

      section
        h3.bullet Ketikkan ini di command prompt
        ul
          li
            code.language-javascript. npm install -g generator-bespoke
          li
            code.language-javascript. npm install -g yo
          li
            code.language-javascript. yo bespoke
          li
            code.language-javascript. npm install -g bower
          li
            code.language-javascript. npm install -g gulp
          li
            code.language-javascript. npm install && bower install



      section
        h3 Untuk menjalankan server
        code.language-javascript. gulp serve

      section
        h2.bullet Selesai ?
        ul
          li untuk template dasar presentasi selesai
          li jika ingin merubah isi presentasi, silahkan edit index.jade
          li dan presentasi ini merupakan hasil dari langkah - langkah yang dijelaskan
          li agar dapat di edit bersama dengan tim, maka kita perlu upload data ini ke github

      section
        h2.bullet Upload data ke github 
        ul
          li Installasi  git. search di google download lalu install 
          li Inisialisasi folder project bespoke dengan perintah CLI
          li
           code.language-javascript. git init
          li agar jadi repository local
          li Tambahkan data dari repository local ke stage dengan perintah CLI
          li
            code.language-javascript. git add .
          li
            code.language-javascript. git commit -m "ket. commit"
          li untuk commit.
          li
            code.language-javascript. git remote add origin url_remote_repository_anda
          li untuk mengarahkan repository remote.
          li
            code.language-javascript. git push origin master
          li untuk upload/push data repository local ke repository remote 


      section
        h2.bullet Hal Yang dilakukan tim lain
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')